{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono">
  <link rel="stylesheet" href="{% static "games/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "games/css/base-styles.css" %}">
  <link rel="stylesheet" href="{% static "games/css/terminal-styles.css" %}">

  <!-- JS -->
  <script type="text/javascript" src="{% static "games/js/base64.min.js" %}" defer></script>
  <script type="text/javascript" src="{% static "games/js/sockjs.min.js" %}" defer></script>
  <script type="text/javascript" src="{% static "games/js/term.js" %}" defer></script>
  <script type="text/javascript" src="{% static "games/js/tty.js" %}" defer></script>

  <title>PlayTerminal</title>
</head>
<body>

<div class="container">
  <br />
  <div class="col-md-4">
    <img src="https://www.samhober.com/howtofoldpocketsquares/Flat1.jpg">

    <div id="sidebar">
      <div>
        <a href="{% url 'game_list' %}">Games</a>
      </div>

      <div>
        <a href="{% url 'about' %}">About</a>
      </div>
    </div>

  </div>

  <div class="col-md-8">
    {% block content %}{% endblock %}
  </div>
</div>

</body>
</html>