{% extends 'games/base.html' %}

{% block content %}

  <h1>{{ object.name }}</h1>

  <br />
  <div style="white-space: pre-wrap;">{{ object.info }}</div>

  <br />
  <p><b>Step id:</b> {{ object.step_id }}</p>

  <br />
  <button id="open-terminal-btn" class="btn btn-info">Play</button>

  <br /><br />
  <div id="status-message" class="alert alert-danger" role="alert" hidden>
  </div>

  <script>
    var gamesApiUrl = "{% url 'terminals' %}";
    var gameId = {{ object.id }};
    var csrfToken = "{{ csrf_token }}";
  </script>
{% endblock %}
