# {{ ansible_managed }}

[program:playterminal]
command={{ pt_venv }}/bin/gunicorn
    -t 300 --log-level=debug
    --workers={{ pt_gunicorn_workers }} --bind=127.0.0.1:{{ pt_gunicorn_port }}
    --max-requests=999
    playterminal.wsgi:application
directory={{ pt_repo_dir }}
user={{ pt_user }}
autostart=true
autorestart=true
stdout_logfile={{ pt_logs_dir }}/playterminal.log
redirect_stderr=true
